%aside.twitter.span4
  %h3 
    %span Прямой эфир 
    = link_to "#chebit", 'https://twitter.com/search?q=%23chebit', :target => '_blank', :class => 'orange'
  %section.span3
    - twitter.each do |t|
      %div
        = link_to "@#{t.user.screen_name}", "http://twitter.com/#{t.user.screen_name}", :target => '_blank'
        = t.text