.body-menu-block
  - if @presentation.video_embed.present?
    %i.fontello-icon-video.icon-size-24.v-align-top
  - if @presentation.file.present?
    %i.fontello-icon-doc-text-inv.icon-size-24.v-align-top
  = @presentation.title
.row-fluid
  .span12
    .row-fluid.conf-block
      .span2
        = image_tag @presentation.image.url
      .span10.conf-view-block
        .conf-block-date
          %i.fontello-icon-user.icon-size-16.v-align-top
          = @presentation.autor
        .conf-block-text
          = @presentation.context
        .conf-block-text
          = @presentation.video_embed.html_safe if @presentation.video_embed.present?
        - if @presentation.file_name.present?
          = link_to @presentation do
            %i.fontello-icon-doc-text-inv.icon-size-16.v-align-top
            = @presentation.file_name
= render :partial => 'layouts/disquss'
      
= link_to conference_path(@presentation.conference), :class => 'btn' do
  Назад