.row-fluid
  .span9
    .body-menu-block Все мероприятия
    - @conferences.each do |conference|
      .conf-block
        .row-fluid
          .span2
            = image_tag conference.image.url
          .span8.conf-view-block
            .conf-block-title
              = link_to conference do
                = conference.title
            .conf-block-date
              %i.fontello-icon-calendar.icon-size-16.v-align-top
              = l conference.date_conference
            .conf-block-text
              = conference.description.html_safe
            .conf-block-text
              %a{:href => "/conferences/#{conference.id}#disqus_thread"} Комментарии
          .span1.conf-link
            = link_to conference, :class => 'conf-link' do
              = content_tag(:i, '', :class=>'fontello-icon-right-open-big icon-size-48 v-align-top')
              %br
              .conf-block-view
                посмотреть доклады
  .span3
    .row.twitt-block
      .span10.offset1
        .twitt-block-title
          Прямой эфир
          = link_to "#chebit", root_url
        .twitt-border
          = render 'layouts/twitter'
