- @conferences.each do |conference|
  .row.conf-block
    .span2
      = image_tag conference.image.url
    .span8.conf-view-block
      .conf-block-title
        = link_to conference, :class => 'conf-block-title' do
          = conference.title
      .conf-block-date
        %i.fontello-icon-calendar.icon-size-16.v-align-top
        = l conference.date_conference
      .conf-block-text
        = conference.content
    .span1.conf-link
      = link_to conference, :class => 'conf-link' do
        = content_tag(:i, '', :class=>'fontello-icon-right-open-big icon-size-48 v-align-top')
        %br
        %br
        посмотреть доклады
