- @conferences.each do |conference|
  .row.conf-block
    .span2
      - unless conference.avatar.present?
        %img{:src => '/avatar.jpg',:height => '25'}
      - else
        %img{:src => conference.avatar,:height => '25'}
    .span8.conf-view-block
      .conf-block-title
        = link_to conference, :class => 'conf-block-title' do
          = conference.title
      .conf-block-date
        %i.fontello-icon-calendar.icon-size-16.v-align-top
        = conference.date_conference.strftime('%d.%m.%Y')
      .conf-block-text
        = conference.content
    .span1.conf-link
      = link_to conference, :class => 'conf-link' do
        = content_tag(:i, '', :class=>'fontello-icon-right-open-big icon-size-48 v-align-top')
        %br
        %br
        посмотреть доклады
