.body-menu-block Все выступления
.row-fluid
  .span6
    .row.conf-block
      .span4
        %img{:src => '/avatar.jpg',:height => '25'}
      .span8.conf-view-block
        .conf-block-title
          = @conference.title
        .conf-block-date
          %i.fontello-icon-calendar.icon-size-16.v-align-top
          = @conference.date_conference.strftime('%d.%m.%Y')
        .conf-block-text
          = @conference.content
  .span6
    .row.conf-block
      .span4
        %img{:src => '/avatar.jpg',:height => '25'}
      .span8.conf-view-block
        .conf-block-title
          = @conference.title
        .conf-block-date
          %i.fontello-icon-calendar.icon-size-16.v-align-top
          = @conference.date_conference.strftime('%d.%m.%Y')
        .conf-block-text
          = @conference.content
.row-fluid
  .span6
    .row.conf-block
      .span4
        %img{:src => '/avatar.jpg',:height => '25'}
      .span8.conf-view-block
        .conf-block-title
          = @conference.title
        .conf-block-date
          %i.fontello-icon-calendar.icon-size-16.v-align-top
          = @conference.date_conference.strftime('%d.%m.%Y')
        .conf-block-text
          = @conference.content

= link_to '/', :class => 'btn' do
  Назад