.body-menu-block Все выступления
.row-fluid
  .span6
    .row.conf-block
      .span4
        = image_tag @conference.image.url
      .span8.conf-view-block
        .conf-block-title
          = @conference.title
        .conf-block-date
          %i.fontello-icon-calendar.icon-size-16.v-align-top
          = l @conference.date_conference
        .conf-block-text
          = @conference.content
  - @conference.presentation.each do |present|
    .span6
      .row.conf-block
        .span4
          = image_tag present.image.url
        .span8.conf-view-block
          .conf-block-title
            = link_to present.title, present
          .conf-block-date
            %i.fontello-icon-user.icon-size-16.v-align-top
            = present.autor
          .conf-block-text
            = present.context
          .conf-block-text
            - if present.video_embed.present?
              %i.fontello-icon-video.icon-size-16.v-align-top
            - if present.file.present?
              %i.fontello-icon-doc-text-inv.icon-size-16.v-align-top
              = present.file_name if present.file_name.present?
= render :partial => 'layouts/disquss'

= link_to '/', :class => 'btn' do
  Назад