.body-menu-block Все выступления
.row-fluid
  .span6
    .row.conf-block
      .span4
        %img{:src => @conference.image.url,:height => '25'}
      .span8.conf-view-block
        .conf-block-title
          = @conference.title
        .conf-block-date
          %i.fontello-icon-calendar.icon-size-16.v-align-top
          = @conference.date_conference.strftime('%d.%m.%Y')
        .conf-block-text
          = @conference.content
  - @conference.presentation.each do |present|
    .span6
      .row.conf-block
        .span4
          %img{:src => present.file.url,:height => '25'}
        .span8.conf-view-block
          .conf-block-title
            = present.title
          .conf-block-date
            %i.fontello-icon-calendar.icon-size-16.v-align-top
            = @conference.date_conference.strftime('%d.%m.%Y')
          .conf-block-text
            = present.context

= link_to '/', :class => 'btn' do
  Назад