= title "CHEBIT: #{@conference.title}"
.page-header
  %h1= @conference.title
  %small= l @conference.date_conference


- @conference.presentations.ordered.each do |p|
  = render 'presentations/presentation', :presentation => p

%hr


- if @conference.photo_content.present?
  = @conference.photo_content.html_safe

%hr

= render :partial => 'layouts/disquss'
