%footer#footer
  .container
    .row-fluid
      .span2
        = link_to root_url, {:class => "logo"} do
          =image_tag 'chebit_logo_white.png'

      .span10.rows
        .row-fluid
          %big.span2
            Контакты
          .span10
            = link_to 'Данил Письменный', 'http://dapi.ru/', :target => '_blank'
        .row-fluid
          %big.span2
            Партнёры
          .span10.logos
            =link_to 'http://www.ravidok.ru/', :target => '_blank', :rel => 'nofollow' do
              = image_tag "vidok.png"
            =link_to 'http://webatmosfera.ru/', :target => '_blank', :rel => 'nofollow' do
              = image_tag "webatmosfera.svg"
            =link_to 'http://www.avis-design.ru/', :target => '_blank', :rel => 'nofollow' do
              = image_tag "avis_design.gif"
        .row-fluid
          %big.span3
            Коллеги по цеху
          .span9
            = link_to 'Данил Письменный', 'http://dapi.ru/', :target => '_blank'
