!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= yield_or_default(:title, "CHEBIT - конференция веб-разработчиков")
      %meta{:content => content_for?(:description) ? yield(:description) : "ChebIT", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = javascript_include_tag "mediaelement-and-player.min.js"
        = stylesheet_link_tag "mediaelementplayer.min.css"
        = javascript_include_tag 'modernizr.min'
        = csrf_meta_tags
        = yield(:head)