= render 'layouts/head'
%body{:class => "#{controller_name} #{action_name}"}
  #main{:role => "main"}
    = render 'layouts/header'
    -if @anounce_conference.present?
      = render 'layouts/navigation'
    .container
      .content.body
        = yield
  = render 'layouts/footer'