!!!
%html
  %head
    %title= yield_or_default(:title, "CHEBIT - barcamp-конференция веб-разработчиков в Чебоксарах")
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => content_for?(:description) ? yield(:description) : "CHEBIT", :name => "description"}
    = stylesheet_link_tag "application", :media => "all"
    -#= stylesheet_link_tag "mediaelementplayer.min.css"
    = javascript_include_tag "application"
    = javascript_include_tag "mediaelement-and-player.min.js"
    = javascript_include_tag "jquery.imagesloaded.min.js"
    = javascript_include_tag 'modernizr.min'
    = javascript_include_tag "https://raw.github.com/livereload/livereload-js/master/dist/livereload.js?host=127.0.0.1"
    = csrf_meta_tags
    = yield(:head)
%body{:class => "#{controller_name} #{action_name}"}
  #wrapper{:role => "main" }
    = render 'layouts/header'
    .container#top
      .row
        .hero-unit.span8
          %strong Название какой-то конференции
          %a.round{:href => ""} 
            %i.fontello-icon-link
        .span3.pull-right.video
          %a.btn.btn-warning{:href => ""} 
            %i.fontello-icon-play
          %br/ 
          %br/ 
          %a{:href => ""} 
            %b
              %span видео и презентации с выступлений 
              %i.fontello-icon-right-open-mini
        %p.span8 Медиатека докладов с мероприятия, прошедшего 23 февраля, в баре "Матрос"
      -#%ul.nav.nav-pills
        -#= active_link_to 'Доклады', presentations_path, :wrap_tag => :li
        -#= active_link_to 'Прошедшие события', conferences_path, :wrap_tag => :li
      -#= render 'layouts/navigation'
    .container#main
      .content
        .stripe.span12 Все мероприятия
        .news.pull-left
          .list.span8
            .row-fluid
              .span3 
                %img{:src => "/assets/chebit_logo_dark.jpg", :alt => ""}/ 
              .span8 
                %h2.orangeDark Конференция &laquo;Веб-разработка и котики 2013&raquo;
                %time{:datetime => ""} 
                  %i.fontello-icon-calendar 
                  %span 23.02.2013
                %p dsfgafg asdf asd f
              %a.more.span1{:href => ""} 
                %i.fontello-icon-right-open-big
                %span посмотреть доклады
          %hr/

          .list.span8
            .row-fluid
              .span3 
                %img{:src => "/assets/chebit_logo_dark.jpg", :alt => ""}/ 
              .span8 
                %h2.orangeDark Конференция &laquo;Веб-разработка и котики 2013&raquo;
                %time{:datetime => ""} 
                  %i.fontello-icon-calendar 
                  %span 23.02.2013
                %p dsfgafg asdf asd f
              %a.more.span1{:href => ""} 
                %i.fontello-icon-right-open-big
                %span посмотреть доклады
          %hr/

        .twitter.span4 
          %h3 
            %span Прямой эфир 
            %a.orange{:href => ""} #chebit
        
        .clearfix
        .center
          = render 'layouts/messages'
          = yield
  = render 'layouts/footer'
