!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "New.Chebit.Ru"
      %meta{:content => content_for?(:description) ? yield(:description) : "New.Chebit.Ru", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = javascript_include_tag "mediaelement-and-player.min.js"
        = stylesheet_link_tag "mediaelementplayer.min.css"
        = javascript_include_tag 'modernizr.min'
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    #main{:role => "main"}
      = render 'layouts/header_presentation'
      .container.top-space
        .content.body
          = yield
    = render 'layouts/footer'